commands:
  01_install_composer:
    command: |
      if [ ! -f /usr/local/bin/composer ]; then
        curl -sS https://getcomposer.org/installer | php
        mv composer.phar /usr/local/bin/composer
        chmod +x /usr/local/bin/composer
      fi
    ignoreErrors: true

container_commands:
  01_composer_install:
    command: "composer install --no-dev --optimize-autoloader"
    leader_only: true